
  
  .carousel-image {
    width: 100%;
    height: 400px; /* Set a fixed height */
    object-fit: contain; /* Ensure proper image scaling */
    border-radius: 12px; /* Adds rounded corners */
  }
  